<div class="theme-info-background">
    <div class="container about-section">
    <h1>Acerca de Nosotros</h1>
    <p>Somos un equipo apasionado por los superhéroes, dedicados a construir la mejor base de datos de héroes y villanos del multiverso.</p>
    <p>Nuestra misión es proporcionar información detallada y actualizada sobre tus personajes favoritos, sus poderes, aliados y enemigos.</p>
    <p>¡Explora nuestro sitio y descubre el vasto mundo de los superhéroes!</p>
    <div class="btn-group">
        <a href="/api/heroes" class="btn btn-primary">Ver Superhéroes</a>
        <a href="/api/contact" class="btn btn-secondary">Contactar</a>
    </div>
    </div>
</div>
