<div class="theme-info-background">
    <div class="container hero-section">
        <h1>Bienvenido a nuestra base de datos de Superhéroes</h1>
        <p>Explora el vasto universo de héroes y villanos de Marvel y DC. Descubre sus poderes, historias y mucho más.</p>
        <div class="hero-actions">
            <a href="/api/heroes" class="btn btn-primary">Ver Superhéroes</a>
            <a href="/api/formAgregarHero" class="btn btn-success">Agregar Nuevo Héroe</a>
        </div>
    </div>
</div>